#app {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}

.container {
  display: block;
  margin: auto;
  max-width: 300px;
}

input {
  width: 100%;
  margin: 5px 0 10px 0;
}

label {
  font-size: 1.2em;
}